{% extends 'portfolio/base.html' %}
{% block body %}
{% load static %}
<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/dipak.jpg' %}" class="img-fluid">
  </div>
</div>
<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Hii My name is Dipak Pawar and i am software Devloper.
      😊</h1>
  </div>
</div>
<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row">
  {% for data in portfolio %}
  <div class="col-lg-4 col-md-6">
    {% if data.url %}
    <a href="{{ data.url }}">
      <img src="{{ data.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}
    <img src="{{ data.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ data.title }}</h3>
    <p>{{ data.desc}}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}